/* CLONE BY ORUJ SHARIFLI */
:root {
  --white: #fff;
  --alabaster: #fbfbfb;
  --concrete: #f3f3f3;
  --tutu: #fff9fc;
  --amber: #ffbf00;
  --corn: #e3aa00;
  --pistachio: #91b40d;
  --emperor: #505050;
  --parsley: #1a5221;
  --mine-shaft: #303030;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: .3s linear;
}

/* Fonts */
@font-face {
  font-family: GilroyMedium;
  src: url(/assets/fonts/Gilroy-Medium.otf) format("opentype");
}

/* Image user select none */
img {
  user-select: none;
}

/* Webkit */
::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--tutu);
}

::-webkit-scrollbar-thumb {
  background: var(--amber);
}

/* Pre Loader */
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background: var(--white);
}

.preloader img {
  width: 200px;
}

/* Scroll Back To Top Button */
.go-to-top {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background: var(--amber);
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

.go-to-top:hover {
  background: var(--corn);
}

.go-to-top i {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: var(--white);
}

/* h2 */
h2 {
  color: var(--mine-shaft);
}

/* p */
p {
  color: var(--emperor);
}

/* Body */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: GilroyMedium;
  color: var(--mine-shaft);
}

/* Main Header */
#main-header {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 9997;
  transition: 0.3s linear;
  position: absolute;
}

.home-header a {
  color: var(--white);
}

.fixed {
  position: fixed !important;
}

#main-header.fixed,
#main-header.fixed.page-header {
  position: fixed;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  background-color: #1a5221;
  border-bottom: 3.5px solid var(--amber);
}

/* Header and nav */
.header-nav {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 75%;
  padding: 20px 0;
  gap: 15px;
}

.header-nav a:active {
  position: relative;
  top: 2px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header img {
  height: 1.25em;
  opacity: 0.8;
}

.header img:hover {
  opacity: 1;
  cursor: pointer;
}

.header a {
  display: flex;
  justify-content: center;
}

.phone-link img {
  margin-right: 10px;
}

/* Social Media */
.social-medias {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.main-logo {
  width: 7.1875em;
}

.main-logo img {
  width: 100%;
}

.logo-secondary {
  display: none;
}

#main-header.fixed .logo-primary,
#main-header.fixed.page-header .logo-primary {
  display: none;
}

#main-header.fixed .logo-secondary,
#main-header.fixed.page-header .logo-secondary {
  display: block;
}

/* Nav menu */
.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.first-nav {
  position: relative;
  z-index: 1;
}

/* Nav menu first a tag */
.first-nav::before {
  opacity: 1;
  visibility: visible;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: -10px;
  top: 0;
  background-image: url(/assets/svg/leaf.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.nav a {
  font-size: 1.0625em;
  display: inline-block;
  position: relative;
  padding-bottom: 3.5px;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pistachio);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.nav a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.nav img {
  width: 1em;
}

.nav span:hover {
  cursor: pointer;
}

.nav span:active {
  position: relative;
  top: 2px;
}

/* Hamburger icon */
.menu-icon {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  height: fit-content;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background: var(--white);
  transition: 0.4s;
}

#main-header.page-header .menu-icon div {
  background: var(--mine-shaft);
}

#main-header.fixed.page-header .menu-icon div {
  background: var(--white);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Nav Mobile */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transition: all 250ms ease;
  -webkit-transition: all 250ms ease;
}

.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.menu-wr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: var(--white);
  min-height: 100vh;
  padding-bottom: 25px;
  margin-right: auto;
}

/* Navbar mobile menu header  */
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--parsley);
  padding: 12px 0;
  width: 90%;
}

.menu-header a {
  height: 40px;
}

.menu-header a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.x-mark {
  width: 27.5px;
}

/* Navbar mobile menu body */
.menu-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-body a {
  color: #303030;
  text-align: center;
}

/* Main */
.main {
  height: 40.625em;
  position: relative;
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

/* Category */
.category-wr {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, var(--white), var(--concrete));
}

/* Category slider */
.category-slider {
  width: 1200px;
  position: relative;
  bottom: 70px;
  z-index: 2;
}

/* Slider buttons */
.slick-prev:before,
.slick-next:before {
  color: #91b40d;
  font-size: 25px;
}

/* Products preview boxes */
.products-pre-box {
  aspect-ratio: 7/5;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.products-preview {
  display: flex;
  width: 80%;
  height: 80%;
  position: relative;
}

/* Products title */
.preview-title {
  font-weight: 300;
  font-size: 1.5em;
  color: var(--white);
}

/* Products image */
.products-preview img {
  height: 100%;
}

/* Container */
.container-wr {
  display: flex;
  justify-content: center;
  background: url(/assets/images/about-bg.png);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
  flex-wrap: wrap;
}

/* Container image */
.container-img {
  width: 25em;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Container text */
.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
  width: 790px;
}

.container-text h2 {
  font-size: 1.875em;
}

/* Leaf break */
.leaf-break {
  height: 35px;
  object-fit: contain;
}

/* About footer boxes */
.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-element {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  gap: 15px;
}

.footer-element img {
  width: 3.625em;
  height: 55px;
  object-fit: contain;
}

/* Content */
.content-wr {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 60px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  color: #727272;
}

/* Content title */
.content-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title h2 {
  font-size: 1.875em;
  margin-bottom: 10px;
}


/* Garden boxes */
.garden-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 152.5px;
}

.garden-box {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 20px;
}

.garden-box:nth-child(2) {
  flex-direction: column-reverse;
}

.garden-box span {
  font-size: 4em;
  color: rgba(0, 0, 0, 0.5);
}

.garden-box h5 {
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--mine-shaft);
}

.garden-boxes img {
  width: 100%;
  aspect-ratio: 4/5;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Products tabs */
.products-tabs {
  display: flex;
  gap: 30px;
  color: var(--mine-shaft);
}

.products-tabs span {
  font-size: 1.125em;
}

.products-tabs span:hover {
  color: var(--pistachio);
  transition: 0.5s;
  cursor: pointer;
}

.products-tabs span:active {
  position: relative;
  top: 2px;
}

.products-tabs span:first-child {
  color: var(--pistachio);
}

/* Products boxes */
.products-box-wr {
  display: flex;
  justify-content: center;
  gap: 91.25px;
  flex-wrap: wrap;
}

.products-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.products-box:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* Products box image */
.products-box img {
  width: 9.375em;
  aspect-ratio: 15/13;
  object-fit: contain;
}

.products-box-text {
  width: 100%;
  color: var(--mine-shaft);
  background: var(--alabaster);
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.products-box-text h4 {
  padding-bottom: 7.5px;
}

.vegetables {
  display: none;
}

/* Blogs */
.blogs-wr {
  display: flex;
  justify-content: center;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 40px;
}

.blog-slider {
  width: 1265px;
}

.blog-box {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  width: 370px;
  margin: 10px;
}

.blog-box img {
  width: 100%;
  aspect-ratio: 37/25;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.blog-box h5 {
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.9);
}

/* Footer pattern */
.footer-pattern {
  width: 100%;
}

/* Footer */
.footer-wr {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 300px;
  background-image: url(/assets/images/footer-bg.png);
  background-size: cover;
}

.footer-wr a {
  color: var(--white);
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}

.footer-wr a:hover {
  color: var(--amber);
  transition: 0.5s;
}

.footer-wr p {
  color: var(--white);
  text-align: center;
}

.footer {
  width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* First footer */
.first-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 90%;
  flex-wrap: wrap;
}

/* First footer logo */
.first-footer img {
  width: 16.875em;
}

/* Footer navigations */
.footer-nav-wr {
  display: flex;
  gap: 100px;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

/* Footer nav title */
.footer-nav h5 {
  font-size: 1.375em;
  color: var(--white);
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: fit-content;
}

/* Second footer */
.secondary-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}

/* FINISH HOME PAGE */

/* ----------------------------- */

/* PAGES */
/* Page header */
#main-header.page-header {
  background: var(--white);
  position: relative;
}

.page-header .header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.page-header a {
  color: var(--mine-shaft);
}

#main-header.fixed.page-header a {
  color: var(--white);
}

.page-header svg path {
  fill: var(--mine-shaft);
}

#main-header.fixed.page-header svg path {
  fill: var(--white);
}

#page-main {
  height: 34.375em;
}

#page-main .overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

#page-main img {
  object-position: center;
}

/* Page container */
#page-container {
  background-image: none;
}

#page-container .container {
  flex-direction: row-reverse;
}

#page-container .container-img {
  border-radius: 0;
  box-shadow: none;
}

/* Page heading */
.page-heading {
  font-size: 38px;
  align-self: flex-start;
  color: var(--mine-shaft);
}

/* Page headering pattern */
.page-heading-pattern {
  position: absolute;
  width: 310px;
  top: 60px;
  left: -50px;
  z-index: -1;
}

.section-pattern {
  position: absolute;
  width: 350px;
  z-index: -1;
}

.section-pattern.right {
  top: 120px;
  right: 50px;
}

.section-pattern.left {
  bottom: 0;
  left: 50px;
}

/* Services content */
.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.services-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.services-box:nth-child(2) {
  flex-direction: row-reverse;
}

.services-box:nth-child(2) img {
  align-self: flex-end;
}

.services-box:nth-child(2) h2,
.services-box:nth-child(2) p {
  text-align: end;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 680px;
  gap: 20px;
}

.services-text img {
  height: 80px;
  width: fit-content;
}

.services-img {
  width: 555px;
  aspect-ratio: 8/5;
  border-radius: 20px;
  object-fit: cover;
}

/* Gallery slider */
.gallery-slider {
  width: 1265px;
}

.gallery-slider a {
  margin: 15px;
  aspect-ratio: 8/5.5;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* Play button */
.play-button {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  animation: pulse 1.5s infinite;
  -webkit-animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.75);
  }

  80% {
    -webkit-box-shadow: 0 0 0 15px rgba(255, 134, 134, 0);
    box-shadow: 0 0 0 15px rgba(255, 134, 134, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
    box-shadow: 0 0 0 0 rgba(255, 134, 134, 0);
  }
}


/* Social responsibility text */
.social-responsibility-text {
  width: 1265px;
  text-align: center;
  padding-top: 35px;
}

/* Contact boxes */
.contact-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  padding-top: 40px;
}

/* Contact box */
.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 398.35px;
  aspect-ratio: 7/5;
  background: #fdfdfd;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

/* Contact box image */
.contact-box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 8.75em;
  aspect-ratio: 1/1;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: -40px;
}

.contact-box-img img {
  width: 60px;
}

/* Contact box text */
.contact-box-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.25em;
  padding: 40px 0 0 20px;
  align-self: flex-start;
}

.contact-box-text a,
.contact-box-text p {
  color: #525252;
}

.contact-box-text a:hover {
  color: var(--pistachio);
  transition: 0.3s;
}

.contact-box-text span {
  color: var(--mine-shaft);
}

/* Page footer */
#page-footer {
  background-image: none;
  background: var(--concrete);
  padding-top: 0;
}

#page-footer h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#page-footer a,
#page-footer h5 {
  color: var(--mine-shaft);
}

#page-footer a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--pistachio);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

#page-footer a:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

#page-footer .secondary-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#page-footer p {
  color: var(--mine-shaft);
}

/* CLONE BY ORUJ SHARIFLI */